@tailwind base;
@tailwind components;
@tailwind utilities;



/* .cards:hover .certificate {
    display: none;
}

.cards:hover .HoverContent {
    display: block;
} */

/* .scrollbar-hide::-webkit-scrollbar {
    display: none;
}


.scrollbar-hide {
    -ms-overflow-style: none;
  
    scrollbar-width: none;

}

#carousel {
    overflow-x: auto;
    white-space: wrap;
    scroll-behavior: smooth;

} */

