.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-button {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    background-color: #2d577c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    font-size: 1rem;
  }
  
  .whatsapp-contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #25D366;
    margin-top: 10px;
    /* position: fixed; */
  }
  .whatsapp{
    width: 130px;
    background-color: #075E54;
    color: white;
    height: 30px;
    border-radius: 10px;
    text-align: center;
  }